@model IEnumerable<PrimePaper.Models.CustomerListItem>

@{
    ViewBag.Title = "Index";
}

<body class="customerindex">

<h2>Customer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("  ", "Edit", new { id = item.CustomerID }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" })
                @Html.ActionLink("  ", "Details", new { id = item.CustomerID }, htmlAttributes: new { @class = "glyphicon glyphicon-info-sign" }) |
                @Html.ActionLink("  ", "Delete", new { id = item.CustomerID }, htmlAttributes: new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
</body>
